.row.clearfix
  - if todo_item.completed?
    .todo_item
      %p{:style => "opacity: 0.4;"}
        %strike= todo_item.content         
    .nbutton
      = link_to "Done", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch 
    .nbutton
      = link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } 
 
  - else
    .todo_item
      %p= todo_item.content  
    .nbutton
      = link_to "Done", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch 
    .nbutton
      = link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }

